name: Tests

on: [push, workflow_dispatch]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Cache Dependencies
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cache/pip
                      ~/.platformio/.cache
                  key: ${{ runner.os }}-pio

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.9"
                  
            - name: Install PlatformIO Core
              run: pip install --upgrade platformio

            - name: Setup Environmetn Variables
              run: make setup-env

            - name: Run Native Test
              run: pio test -e native_test

            - name: Upload Test Coverage (gcov artifacts)
              uses: actions/upload-artifact@v4
              with:
                name: gcov-reports
                path: ./.pio/build/native_test/test/native_tests

            
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v4
              with:
                flags: smart-tests
                verbose: true
              env:
                CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
            - name: Build default
              run: platformio run